# THIS FILE MANAGED BY PUPPET
# DO NOT MAKE DIRECT CHANGES

[client]
port            = 3306
socket          = /tmp/mysql.sock
default-character-set=utf8

[mysqldump]
# Do not buffer the whole result set in memory before writing it to
# file. Required for dumping very large tables
quick
max_allowed_packet = 16M

[myisamchk]
key_buffer_size = 512M
sort_buffer_size = 512M
read_buffer = 8M
write_buffer = 8M

[mysqlhotcopy]
interactive-timeout
